* {
    box-sizing: border-box;
  }

  body {
      margin: 0;
      min-height: 100vh;
      background-color: #535388;
      background-size: cover;
  }

  header {
      background-color: rgb(61, 180, 231);
      font-family: helvetica;
      text-align: center;
      padding: .75rem;
  }

 main {
    text-align: center;
 }

 form {
     text-align: left;
     font-family: helvetica;
     background-color: #81b498;
     padding: 1.25rem;
     border-radius: 4px;
 }

 input[type=text] {
     width: 100%;
     margin-top: .5rem;
     margin-bottom: .5rem;
     padding: .3rem 1rem;
     border: none;
     border-radius: 4px;
 }

 input[type=file] {
     width: 100%;
     margin-top: .5rem;
     margin-bottom: .5rem;
     cursor: pointer;
 }

 #button {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}

input#gen-cloud {
    width: 100%;
    margin-top: .625rem;
    padding: .5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #3083e9bf;
}

#collapse {
    width: 100%;
    margin-top: .625rem;
    padding: .5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: grey;
    font-size: .7rem;
}

#collapse:hover {
    background-color: #cacdcb;
}

input#gen-cloud:hover {
    background-color: #2664e9cb;
}

 select {
     width: 100%;
     margin-top: .5rem;
     margin-bottom: .5rem;
     padding: .3rem 1rem;
     border: none;
     border-radius: 4px;
     cursor: pointer; 
 }

 #show-inputs {
     display: none;
     cursor: pointer;
 }

 @media screen and (max-width: 27rem) {

     #button {
         gap: .5rem;
     }
 }

 @media screen and (min-width: 50rem) {

    #button {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }

     input#gen-cloud {
         height: 2.25rem;
         width: 45%;
         justify-self: center;
         max-width: 15rem;
    }
    
     #collapse {
         font-size: .7rem;
         height: 1.7rem;
         width: 35%;
         justify-self: end;
         align-self: end;
         max-width: 6rem;
    }

     #selects {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         align-items: center;
         gap: 4rem;
     }

     .select-item {
         outline: 1px solid grey;
         border-radius: 4px;
         text-align: center;
     }

     .select {
         margin-left: .5rem;
         width: 25%;
         max-width: 5rem;
     }

 }
